$amount: 5;
$size: 100px;

:host {
  grid-column: 1/span 2;
  grid-row: 3/5;
  display: flex;

  .container{
    display: grid;
    grid-template-columns: repeat($amount, $size);
    grid-template-rows: repeat($amount, $size);
    border: 1px solid #ccc;
    border-radius: 4px;
    background: url("./../../assets/background.png");
    background-repeat: repeat;
    background-size: 100px 100px;
    width: 499px;
    height: 499px;
  }
}
