$position: center;
$width: 100px;
$height: 100px;
$size: 50px;

:host {
  place-self: $position;
  width: $width;
  height: $width;

  .container {
    width: $width;
    height: $height;
    display: flex;
    align-items: $position;
    justify-content: $position;

    img {
      width: $size;
      height: $size;
    }
  }
}
