:host {
 // font-size: 14px;
  color: #333;
  box-sizing: border-box;

  .content {
    display: flex;
    flex-direction: column;
    width: 700px;
    margin: auto;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
  }
}

svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}
