$color: #ffffff;
$border: 1px solid #ccc;
$border-radius: 4px;
$text-align: center;

:host {
  box-sizing: border-box;
  cursor: move;
  border-radius: $border-radius;
  text-align: $text-align;
  background-color: $color;
  padding: 5px;
  margin: 5px;
  border: $border;
  max-height: 30px;
  flex: 1;
  display: flex;
  flex-direction: column;

  .remove-icon {
    width: 10px;
    height: 10px;
    vertical-align: middle;
    margin-left: 10px;
    cursor: pointer;
  }
}
