<div class="container">

  <span class="title">List of available commands:</span>
    <div
      cdkDropList
      cdkDropListSortingDisabled
      [cdkDropListData]="commands"
      [cdkDropListConnectedTo]="consoleList"
      #commandsList="cdkDropList"
      class="list horizontal-list"
      id="command-area">
      <div class="list-item" *ngFor="let command of commands" cdkDrag>{{command.name}}</div>
    </div>


  <span class="title">Console:</span>
  <div class="console-area">
      <div
        cdkDropList
        cdkDragBoundary=".console-area"
        [cdkDropListData]="consoleCommands"
        [cdkDropListConnectedTo]="commandsList"
        (cdkDropListDropped)="onDrop($event)"
        #consoleList="cdkDropList"
        class="list vertical-list" >
        <div class="list-item" *ngFor="let item of consoleCommands; let i=index;" cdkDrag>
          <div>
            {{item.name}}
            <img (click)="delete(i)" src="./../../assets/remove.png" alt="remove" class="remove-icon" />
          </div>
        </div>
      </div>
    </div>
</div>
<button (click)="start()">Start</button>
