$color: #ffffff;
$border: 1px solid #ccc;
$border-radius: 4px;
$text-align: center;
%item {
  box-sizing: border-box;
  cursor: move;
  border-radius: $border-radius;
  text-align: $text-align;
  background-color: $color;
};

%remove-icon {
  width: 10px;
  height: 10px;
  vertical-align: middle;
  margin-left: 10px;
  cursor: pointer;
}

:host {
  grid-column: 3/span 1;
  grid-row: 3/5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .container{
    display: flex;
    flex-direction: column;
    flex: 1;

    .list {
      border: $border;
      min-height: 30px;
      border-radius: $border-radius;
      overflow: auto;
      background-color: $color;

      .list-item {
        @extend %item;
        padding: 5px;
        flex-grow: 1;
        margin: 5px;
        border: $border;
        max-height: 30px;
      }

      &.horizontal-list {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
      }
      &.vertical-list {
        flex: 1;
        display: flex;
        flex-direction: column;

        img.remove-icon {
          @extend %remove-icon;
        }
      }
    }

    .console-area {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
  }

  button {
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    line-height: 30px;
    background-color: #6ec11a1f;
  }
}

.cdk-drag-preview {
  @extend %item;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);

  img.remove-icon {
    @extend %remove-icon;
  }
}

.cdk-drop-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  opacity: 0;
}

