<div class="container">
  <span class="title">List of available commands:</span>
  <div cdkDropList
    cdkDropListSortingDisabled
    [cdkDropListData]="defaultCommands"
    [cdkDropListConnectedTo]="consoleList"
    #commandsList="cdkDropList"
    class="list horizontal-list"
    id="command-area">
    <app-command
      [command]="command"
      *ngFor="let command of defaultCommands"
      cdkDrag></app-command>
  </div>

  <span class="title">Console:</span>
  <div class="console-area">
    <div cdkDropList
      cdkDragBoundary=".console-area"
      [cdkDropListData]="consoleCommands"
      [cdkDropListConnectedTo]="commandsList"
      (cdkDropListDropped)="onDrop($event)"
      #consoleList="cdkDropList"
      class="list vertical-list" >
      <app-console-command
        [command]="command"
        [index]="i"
        (deleted)="onDelete($event)"
        *ngFor="let command of consoleCommands; let i=index;"
        cdkDrag></app-console-command>
    </div>
  </div>
</div>
<button [disabled]="consoleCommands.length === 0" (click)="onStart()">Play</button>
